Django==1.11.5
gevent==1.2.1
google==1.9.3
google-api-python-client==1.6.4
google-auth==1.1.1
google-auth-httplib2==0.0.2
google-auth-oauthlib==0.1.1
gunicorn==19.7.1
HeapDict==1.0.0
html5lib==0.999
httplib2==0.10.3
oauth2client==4.1.2
oauthlib==2.0.6
pip-tools==1.9.0
pipenv==8.0.2
requests==2.18.4
requests-oauthlib==0.8.0
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.8.2