<!DOCTYPE html>
<html>
<head>
	<title>Event Search</title>
	<!-- Angular JS, Import once at the top of the page -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- Css For JQuery UI -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <!-- Css For Plugin -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.css">

	<meta name="google-signin-client_id" content="403176586402-2573bsbcg6ltedsgra1s5lgs5065mbuk.apps.googleusercontent.com">
</head>
<body ng-app="Events">
	<div class="container">
		<nav class="navbar navbar-inverse navbar-fixed-top">
  			<div class="container-fluid">
    			<div class="navbar-header">
      				<a class="navbar-brand" href="#">Notifications</a>
    			</div>
    			<ul class="nav navbar-nav">
      				<li class="active" style="font-size: 16px"><a href="/publisher.html">Home Page</a></li>
      				<li class="active" style="font-size: 16px"><a href="#" onclick="create();">New Event</a></li>
    				<li class="active" style="font-size: 16px"><a href="/search.html">Search</a></li>
    			</ul>
    			<ul class="nav navbar-nav navbar-right">
    				<p style= "padding-right: 16px; font-size: 16px" class="navbar-text"><span ng-controller="PageData">{{alias}}</span></p>
      				<li><a href="#" onclick="editSettings();"><span class="glyphicon glyphicon-user"></span> Settings</a></li>
      				<li><a href="#" onclick="signOut();"><span class="glyphicon glyphicon-log-in"></span> Sign Out</a></li>
    			</ul>
  			</div>
		</nav>
		<div style="padding-top: 80px" ng-controller="EventsController">
			<h2> Enter your search query:</h2>
			<br><br>
				Start Date : <input id="datepicker1" name="startDate" required>
				&nbsp;&nbsp;
            	Start Time : <input id="timePicker1" name="startTime" required>
            	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            	End Date : <input id="datepicker2" name="endDate" required>
            	&nbsp;&nbsp;
            	End Time : <input id="timePicker2" name="endTime" required>
            	<br><br>
            	<div class="buttonholder" style="text-align: center;">
            		<button name="Search" ng-click="searchFunc()"> Search </button>
            	</div>
		</div>
		<div style="padding-top: 80px" ng-controller="EventsController">
			<div class="col-md-9" style="padding-top: 80px">
				<div class="event" ng-repeat="event in events" style="background-color: #f0f0ea; padding: 20px;border-radius: 10px; margin: 5px;">
				<h3> {{event.fields.name}} @ {{event.fields.location}}</h3>
				<p> {{event.fields.start_time | date: ' HH:mm dd/MM/yyyy '}} to {{event.fields.end_time | date: ' HH:mm dd/MM/yyyy '}} </p>
				<p> Relevant Url : {{event.fields.url}}</p>
				<p> {{event.fields.description}} </p>
			</div>
		</div>			
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.js"></script>
    <script type="text/javascript">
        // Timpicker plugin docs http://trentrichardson.com/examples/timepicker/
        // Datepicker plugin docs https://jqueryui.com/datepicker/
        $('#datepicker1').datepicker();
        $('#datepicker2').datepicker();
        $('#timePicker1').timepicker();
        $('#timePicker2').timepicker();
    </script>
	<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
	<script>
		function signOut() {
			var auth2 = gapi.auth2.getAuthInstance();
			auth2.signOut().then(function reportSignOut() {
				console.log('User signed out.');
				$.post('/user/logout', {}, function(response) {
					window.location = response.url;
				})
			}, function reportCouldNotSignOut() {
				console.log('Could Not Sign Out');
			});
		}

		function onLoad() {
      		gapi.load('auth2', function() {
        		gapi.auth2.init();
      		});
    	}
	</script>
	<script type="text/javascript">
		function create() {
			window.location = '/newEvent.html'
		}
	</script>
	<script type="text/javascript"> 
		function editSettings() {
			window.location = '/publisherSettings.html';
		}
		</script>
	<script type="text/javascript">
		var app= angular.module("Events",[]);
		app.controller("EventsController",function($scope,$http) {
			
			$scope.events = [];
			
			$scope.searchFunc= function(){
				
				var options = {
					method : 'POST', 
					url :'/user/search', 
					data: {
						"startDate" : $('#datepicker1').val(), 
						"startTime" : $('#datepicker2').val(), 
						"endDate" 	: $('#timePicker1').val(), 
						"endTime" 	: $('#timePicker2').val()
					}
				};
				console.log(options);

				var successFunction = function(res) {
					console.log('Success');
					$scope.events = JSON.parse(response.data.eventsJson);
					console.log($scope.events);		
				} 

				var failureFunction = function(res) {
					console.log('Failure');
					console.log(res);
				}

				$http(options).then(successFunction, failureFunction);
			};
		});
		app.controller("PageData", function($scope,$http) {
			$scope.alias="";
			$http({method : 'POST', url: '/user/pageData'}).then(function(response){
				$scope.alias=response.data.name;
				console.log(response);
			},function(response){
				console.log(response);
			});
		});
		</script>
</body>
</html>